@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&family=Raleway:wght@500;700&display=swap');
* {
    box-sizing: border-box;
}

html, body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background: #96d2d9;
    padding: 16px;
    color: white;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrapper .container {
    width: 1024px;
    border-radius: 8px;
    margin: 16px;
    background: #F8F9FA;
    padding: 16px;
    flex-grow: 1;
    height: fit-content;
}

.item {
    border-radius: 16px;
    margin-top: 16px;
    padding: 12px 24px 12px 24px;
    background: white;
    display: flex;
    align-items: center;
}

.item > .inner h2 {
    margin-bottom: unset;
}

.item > .inner p {
    margin-top: 5px;
}

.form {
    display: flex;
    flex-direction: column;
    padding: 16px;
    height: 300px;
    border-radius: 16px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-group label {
    margin-bottom: 4px;
    font-size: 18px;
    font-weight: lighter;
}

.shadow {
    box-shadow: 0 5px 10px rgba(154, 160, 185, .05), 0 15px 40px rgba(166, 173, 201, .2);
}

input[type=text], input[type=number] {
    font-family: 'Poppins', sans-serif;
    background: #F5F1FF;
    border: 2px solid #5496bf;
    border-radius: 8px;
    padding: 16px;
    box-sizing: border-box;
    margin-bottom: 8px;
    font-size: 24px;
}

.btn-submit {
    width: fit-content;
    font-family: Raleway, sans-serif;
    border-radius: 16px;
    padding: 12px 24px;
    border: 2px solid #96d2d9;
    color: black;
    font-size: 24px;
    margin-top: auto;
    align-self: flex-end;
    cursor: pointer;
}

.btn-submit:hover {
    background: #96d2d9;
    color: white;
}

input[type=text], .btn-submit:focus {
    outline: none;
}

.text-center {
    text-align: center;
}

.form-title {
    margin: auto 0;
}

table{
    font-family: 'Poppins', sans-serif;
    color: black;
    border-collapse: collapse;
    margin: auto;
    margin-bottom: 20px;
}

table, th, td {
    border: 1px solid black;
    padding: 8px 20px;
}

.content {
    text-align: center;
    justify-content: center;
}

footer {
    padding: 20px;
    color: #fff;
    background-color: #96d2d9;
    text-align: center;
}

 aside {
    flex: 1;
}

  .profile header {
    text-align: center;
    color: black;
    background-color: white;
}

  aside section h3{
    text-align: center;
}

  .profile-image{
    border: #96d2d9;  
    border-style: solid;
    border-width: 3px;
    border-radius: 10px;
    padding: 5px;
}

  main aside .social-media {
    height: 100%;
    display: flex;
    position: fixed;
    inset-block: 0;
    inset-inline-end: 0;
}

  main aside .social-media ul {
    padding: 1.5rem 1rem;
    margin: auto;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    background-color: #96d2d9;
   
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}

  main aside .social-media li {
    list-style-type: none;
}

  main aside .social-media li a {
    text-decoration: none;
    font-size: 1.5rem;
    color: white;
    transition: all .1s ease-in-out;
}
   
  main aside .social-media li a:hover {
    color: #5496bf;
}

@media only screen and (max-width: 1024px) {
    .wrapper {
        margin: 0;
    }

    .wrapper .container {
        width: 100%;
    }

    .list-item {
        width: 90%;
    }

    .form {
        width: 100%;
    }
} 